<!doctype html>
<html>

<head>

<title>
Area 51 Files
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<div class="titlebar">
AREA 51 RESEARCH DATABASE
</div>


<h1>
👽 TOP SECRET FILES
</h1>


<div class="box">


<h2>
Incident Reports
</h2>


<p>

<b>
FILE #001:
</b>

Strange lights detected over Nevada.

</p>


<p>

<b>
FILE #002:
</b>

Unknown signals received at 3:17 AM.

</p>


<p>

<b>
FILE #003:
</b>

Someone claims they downloaded a file
that was not supposed to exist.

</p>


</div>


<div class="box">


<font color="red">

WARNING:

</font>


This database is incomplete.


</div>


<a href="/strange">
Back

</a>


</div>

</body>

</html>