<!doctype html>
<html>

<head>

<title>
Chain Letter Archive
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<div class="titlebar">

Chain Letter Archive

</div>


<h1>
📧 FORWARD THIS EMAIL!!!
</h1>



<div class="box">


<p>

Congratulations!

</p>


<p>

You have received the legendary
CyberNet chain letter.

</p>


<p>

Forward this to 10 friends or your
computer might become haunted.

</p>


</div>


<div class="box">


<h2>

Previous victims:

</h2>


<ul>

<li>CyberKid</li>

<li>PrincessPixel</li>

<li>DoomLord</li>

<li>UnknownUser</li>

</ul>


</div>


<a href="/strange">

Back

</a>


</div>

</body>

</html>