<!doctype html>
<html>

<head>

<title>
Hacker Terminal
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>


<div class="page">


<div class="titlebar">

CYBERNET TERMINAL

</div>


<div class="terminal">


LOGIN REQUIRED


<br><br>


USER:

UNKNOWN


<br>


STATUS:

MONITORING...


<br><br>


ACCESS LEVEL:

████░░░░░░ 40%


</div>


<div class="box">


<p>

You probably shouldn't be here.

</p>


</div>


<a href="/strange">

Exit

</a>


</div>


</body>

</html>