<!doctype html>
<html>

<head>

<title>
The Haunted Homepage
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<div class="titlebar">
The Haunted Homepage
</div>


<h1>
👻 UNKNOWN PAGE
</h1>


<div class="box">


<p>

This page appeared on CyberNet on:

</p>


<center>

<b>
October 31, 1997
</b>

</center>


<br>


<p>

Nobody knows who created it.

</p>


<p>

The original webmaster username:

</p>


<center>

<font color="red">

UNKNOWN

</font>

</center>


</div>


<div class="box">


<pre>

01001000 01000101 01001100 01010000


</pre>


</div>



<a href="/strange">

Return

</a>


</div>


</body>

</html>