<!doctype html>
<html>

<head>

    <title>CyberNet 97 - The Information Superhighway</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<!-- =====================================================
     TOP BAR
     ===================================================== -->

<div class="titlebar">

    CyberNet 97 ::
    The Information Superhighway

</div>


<!-- =====================================================
     HEADER
     ===================================================== -->

<center>

    <h1>
        ★ CYBERNET 97 ★
    </h1>

    <font size="4" color="green">

        <b>
            WELCOME, NET SURFER!
        </b>

    </font>

    <p>

        <font color="red">

            *** BEST VIEWED WITH NETSCAPE NAVIGATOR 3.0 ***

        </font>

    </p>

</center>


<!-- =====================================================
     MAIN NAVIGATION
     ===================================================== -->

<div class="nav">

    <a href="/">
        HOME
    </a>

    |

    <a href="/portal">
        PORTAL
    </a>

    |

    <a href="/search">
        SEARCH
    </a>

    |

    <a href="/directory">
        DIRECTORY
    </a>

    |

    <a href="/messenger">
        MESSENGER
    </a>

    |

    <a href="/irc">
        IRC
    </a>

    |

    <a href="/bbs">
        BBS
    </a>

</div>


<br>


<!-- =====================================================
     WELCOME BOX
     ===================================================== -->

<div class="box">

    <h2>
        Welcome to CyberNet!
    </h2>

    <p>

        You've found one of the coolest places on the
        World Wide Web!

    </p>

    <p>

        CyberNet is your gateway to:

    </p>


    <ul>

        <li>
            Personal Homepages
        </li>

        <li>
            CyberMessenger
        </li>

        <li>
            Internet Chat
        </li>

        <li>
            Bulletin Boards
        </li>

        <li>
            Games and Downloads
        </li>

        <li>
            Music
        </li>

        <li>
            News
        </li>

        <li>
            Shopping
        </li>

    </ul>


    <center>

        <font color="blue">

            <b>
                THERE ARE 13,337 PEOPLE ONLINE RIGHT NOW!
            </b>

        </font>

    </center>

</div>


<!-- =====================================================
     CYBERMESSENGER
     ===================================================== -->

<div class="box">

    <h2>
        ☺ CyberMessenger 97
    </h2>

    <p>

        Talk to your Internet friends in REAL TIME!

    </p>


    <table border="2"
           cellpadding="6"
           width="100%">

        <tr>

            <td>

                <b>
                    CyberKid
                </b>

                <font color="green">
                    ● ONLINE
                </font>

            </td>

            <td>
                Working on my homepage!
            </td>

        </tr>


        <tr>

            <td>

                <b>
                    PrincessPixel
                </b>

                <font color="orange">
                    ● AWAY
                </font>

            </td>

            <td>
                BRB making graphics!
            </td>

        </tr>


        <tr>

            <td>

                <b>
                    DoomLord
                </b>

                <font color="green">
                    ● ONLINE
                </font>

            </td>

            <td>
                Playing Doom II
            </td>

        </tr>


        <tr>

            <td>

                <b>
                    Hackerman
                </b>

                <font color="red">
                    ● OFFLINE
                </font>

            </td>

            <td>
                Last seen 2 hours ago
            </td>

        </tr>

    </table>


    <br>


    <center>

        <a href="/messenger">

            <button>
                LAUNCH CYBERMESSENGER 97
            </button>

        </a>

    </center>

</div>


<!-- =====================================================
     WHAT'S NEW
     ===================================================== -->

<div class="box">

    <h2>
        ★ What's New ★
    </h2>


    <font color="red">

        <b>
            NEW!
        </b>

    </font>

    &nbsp;

    CyberMessenger 97 is now ONLINE!


    <p>

        <font color="red">

            <b>
                NEW!
            </b>

        </font>

        &nbsp;

        Check out the CyberNet Button Exchange!

    </p>


    <p>

        <font color="red">

            <b>
                NEW!
            </b>

        </font>

        &nbsp;

        Build your own personal homepage!

    </p>


    <p>

        <font color="red">

            <b>
                NEW!
            </b>

        </font>

        &nbsp;

        The CyberNet World Map is now available!

    </p>

</div>


<!-- =====================================================
     PERSONAL HOMEPAGES
     ===================================================== -->

<div class="box">

    <h2>
        Personal Homepages
    </h2>


    <center>


        <table border="2"
               cellpadding="8">

            <tr>

                <td>

                    <a href="/~cyberkid/">

                        <b>
                            CyberKid
                        </b>

                    </a>

                    <br>

                    <small>
                        Games / HTML / Computers
                    </small>

                </td>


                <td>

                    <a href="/~princesspixel/">

                        <b>
                            Princess Pixel
                        </b>

                    </a>

                    <br>

                    <small>
                        Graphics / Anime / MIDI
                    </small>

                </td>

            </tr>


            <tr>

                <td>

                    <a href="/~doomlord/">

                        <b>
                            DoomLord
                        </b>

                    </a>

                    <br>

                    <small>
                        DOOM / WADs / Games
                    </small>

                </td>


                <td>

                    <a href="/~hackerman/">

                        <b>
                            Hackerman
                        </b>

                    </a>

                    <br>

                    <small>
                        Computers / UNIX / Code
                    </small>

                </td>

            </tr>


            <tr>

                <td colspan="2"
                    align="center">

                    <a href="/~xfilesfan/">

                        <b>
                            The X-Files Fan Page
                        </b>

                    </a>

                    <br>

                    <small>
                        UFOs / Aliens / The Truth
                    </small>

                </td>

            </tr>

        </table>


    </center>

</div>


<!-- =====================================================
     CYBERNET SERVICES
     ===================================================== -->

<div class="box">

    <h2>
        CyberNet Services
    </h2>


    <table width="100%"
           border="1"
           cellpadding="6">


        <tr>

            <td width="50%">

                <b>
                    Internet
                </b>

                <ul>

                    <li>
                        <a href="/search">
                            CyberSearch
                        </a>
                    </li>

                    <li>
                        <a href="/directory">
                            Web Directory
                        </a>
                    </li>

                    <li>
                        <a href="/webring">
                            CyberWebRing
                        </a>
                    </li>

                </ul>

            </td>


            <td width="50%">

                <b>
                    Communication
                </b>

                <ul>

                    <li>
                        <a href="/messenger">
                            CyberMessenger
                        </a>
                    </li>

                    <li>
                        <a href="/irc">
                            CyberNet IRC
                        </a>
                    </li>

                    <li>
                        <a href="/bbs">
                            CyberNet BBS
                        </a>
                    </li>

                </ul>

            </td>

        </tr>


        <tr>

            <td>

                <b>
                    Entertainment
                </b>

                <ul>

                    <li>
                        <a href="/gifs">
                            Animated GIF Gallery
                        </a>
                    </li>

                    <li>
                        <a href="/music">
                            CyberTunes
                        </a>
                    </li>

                    <li>
                        <a href="/java">
                            Java Zone
                        </a>
                    </li>

                </ul>

            </td>


            <td>

                <b>
                    Shopping
                </b>

                <ul>

                    <li>
                        <a href="/mall">
                            CyberMall
                        </a>
                    </li>

                    <li>
                        <a href="/classified">
                            Classifieds
                        </a>
                    </li>

                    <li>
                        <a href="/awards">
                            CyberNet Awards
                        </a>
                    </li>

                </ul>

            </td>

        </tr>


        <tr>

            <td>

                <b>
                    Information
                </b>

                <ul>

                    <li>
                        <a href="/news">
                            NetNews 97
                        </a>
                    </li>

                    <li>
                        <a href="/browserwars">
                            Browser Wars
                        </a>
                    </li>

                    <li>
                        <a href="/worldmap">
                            CyberNet World Map
                        </a>
                    </li>

                </ul>

            </td>


            <td>

                <b>
                    Your Homepage
                </b>

                <ul>

                    <li>
                        <a href="/builder">
                            Homepage Builder
                        </a>
                    </li>

                    <li>
                        <a href="/buttons">
                            Button Exchange
                        </a>
                    </li>

                    <li>
                        <a href="/guestbook">
                            Guestbook
                        </a>
                    </li>

                </ul>

            </td>

        </tr>

    </table>

</div>


<!-- =====================================================
     88x31 BUTTON
     ===================================================== -->

<div class="center">

    <div class="badge">

        CYBERNET 97

    </div>


    <div class="badge">

        BEST SITE!!!

    </div>


    <div class="badge">

        SIGN MY GUESTBOOK

    </div>

</div>


<br>


<!-- =====================================================
     INTERNET EXPLORER VS NETSCAPE
     ===================================================== -->

<div class="box center">

    <h2>
        Browser Wars!
    </h2>


    <p>

        Which browser rules the Internet?

    </p>


    <a href="/browserwars">

        <button>
            VOTE NOW!
        </button>

    </a>

</div>


<!-- =====================================================
     VISITOR COUNTER
     ===================================================== -->

<div class="box center">

<pre>

╔══════════════════════════════════════╗
║                                      ║
║        YOU ARE VISITOR NUMBER        ║
║                                      ║
║              001337                  ║
║                                      ║
╚══════════════════════════════════════╝

</pre>

</div>


<!-- =====================================================
     SECRET AREA
     ===================================================== -->

<div class="center">

    <small>

        <a href="/secret/terminal">
            [sysop]
        </a>

    </small>

</div>


<br>


<!-- =====================================================
     FOOTER
     ===================================================== -->

<div class="footer">

    <hr>

    <p>

        CyberNet 97 © 1997

    </p>


    <p>

        This page has been visited by
        <b>1337</b> people.

    </p>


    <p>

        <font color="red">

            Last Updated:
            September 13, 1997

        </font>

    </p>


    <p>

        <b>
            Best viewed at 800x600
        </b>

        <br>

        with Netscape Navigator 3.0

    </p>


    <p>

        <a href="/source">
            View Source
        </a>

        |

        <a href="/underconstruction">
            Under Construction
        </a>

        |

        <a href="/email">
            CyberMail
        </a>
        |
        <a href="/strange">
            Weird stuff
        </a>
    </p>

</div>


</div>

</body>

</html>