<!doctype html>
<html>

<head>

<title>CyberNet Java Zone</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">

<div class="titlebar">
CyberNet Java Zone
</div>


<h1>
☕ JAVA APPLET ZONE ☕
</h1>


<div class="box center">

<h2>
Welcome to the Future!
</h2>


<p>

Java technology lets your browser run amazing interactive programs!

</p>


<pre>

+----------------------+
|                      |
|  ★ JAVA APPLETS ★    |
|                      |
+----------------------+

</pre>


</div>



<div class="box">

<h2>
Featured Applets
</h2>


<ul>

<li>
🌌 Animated Starfield Simulator
</li>

<li>
🕒 Digital Clock Applet
</li>

<li>
🔥 Lava Lamp Simulator
</li>

<li>
🎵 MIDI Player
</li>

<li>
🌀 3D Maze Explorer
</li>

</ul>


</div>



<div class="box">

<h2>
System Requirements
</h2>


<ul>

<li>Netscape Navigator 3.0</li>

<li>Java enabled browser</li>

<li>16MB RAM recommended</li>

<li>28.8k modem</li>

</ul>

</div>



<center>

<a href="/">
Return to CyberNet

</a>

</center>


</div>

</body>

</html>