<!doctype html><html><head><title>CyberNet 97</title><link rel="stylesheet" href="{{url_for('static',filename='retro.css')}}"></head><body><div class="page"><div class="titlebar">CyberNet PPP :: CONNECTED</div><h1>YOU ARE ONLINE!</h1><div class="terminal"><pre>ATZ
OK
Dialing 555-0199...
CONNECT 28800
Negotiating PPP...
Authenticating...
WELCOME TO CYBERNET, {{user}}!

&gt; connection established</pre></div><div class="box center"><a href="/">WEB</a> | <a href="/irc">IRC</a> | <a href="/bbs">BBS</a> | <a href="/email">E-MAIL</a> | <a href="/logout">HANG UP</a></div></div></body></html>