<!doctype html><html><head><title>CyberNet 97</title><link rel="stylesheet" href="{{url_for('static',filename='retro.css')}}"></head><body><div class="page"><div class="terminal"><pre>CYBERNET 97 SECRET TERMINAL
============================
[ OK ] MODEM
[ OK ] BBS
[ OK ] IRC
[ OK ] WEB SERVER

&gt; checking secret files...

FOUND: /usr/local/cybernet/secret.txt

THE INTERNET IS WATCHING.

Just kidding.

Or are we?</pre></div><div class="center"><a href="/classified">[ CLASSIFIED FILE ]</a></div></div></body></html>