<!doctype html>
<html>

<head>

<title>View Source</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>


<div class="page">


<div class="titlebar">

CyberNet Source Viewer

</div>


<h1>

&lt; VIEW SOURCE &gt;

</h1>



<div class="terminal">


&lt;HTML&gt;

<br>

&lt;HEAD&gt;

<br>

&lt;TITLE&gt;

<br>

CyberNet 97 Homepage

<br>

&lt;/TITLE&gt;

<br>

&lt;/HEAD&gt;

<br>

&lt;BODY BGCOLOR="#000080"&gt;

<br><br>


&lt;CENTER&gt;

<br>

WELCOME TO CYBERNET!

<br>

&lt;/CENTER&gt;


<br><br>


&lt;!--

<br>

Created by a totally awesome webmaster

<br>

1997

<br>

--&gt;


<br><br>


&lt;/BODY&gt;

<br>

&lt;/HTML&gt;


</div>



<center>

<a href="/">
Return

</a>

</center>


</div>


</body>

</html>