<!doctype html>
<html>

<head>

<title>
CyberNet Strange Internet
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<div class="titlebar">
CyberNet Strange Internet
</div>


<center>

<h1>
☠ STRANGE INTERNET ARCHIVE ☠
</h1>


<p>

WARNING:
Some pages may be weird, mysterious,
or completely fake.

</p>

</center>



<div class="box">


<h2>
Featured Mysteries
</h2>


<ul>


<li>
<a href="/strange/area51">
AREA 51 FILES
</a>

<br>

Government secrets? UFOs? You decide.

</li>


<br>


<li>
<a href="/strange/haunted">
THE HAUNTED HOMEPAGE
</a>

<br>

A page that nobody remembers creating.

</li>


<br>


<li>
<a href="/strange/chain">
CHAIN LETTER ARCHIVE
</a>

<br>

Do NOT forward these... or else!

</li>


<br>


<li>
<a href="/strange/hacker">
HACKER TERMINAL
</a>

<br>

AUTHORIZED USERS ONLY.

</li>


</ul>


</div>





<div class="box center">


<pre>

        .-.
       (o o)
       | O \
        \   \
         `~~~'

THE INTERNET IS BIGGER
THAN YOU THINK...


</pre>


</div>





<a href="/">
Return to CyberNet

</a>


</div>


</body>

</html>