<!doctype html>
<html>

<head>

<title>CyberNet World Map</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='retro.css') }}">

</head>


<body>

<div class="page">


<div class="titlebar">
CyberNet World Map
</div>


<h1>
🌐 CYBERNET CITY 🌐
</h1>



<div class="box center">


<pre>

                 CYBERNET CITY


                      |
                      |
                MAIN PLAZA
                      |
       --------------------------------
       |              |               |
       |              |               |
    GAMES          CHAT           SHOPPING
       |              |               |
 Doom Castle     IRC Palace     CyberMall


                      |
                  INFORMATION
                      |
          -------------------------
          |           |           |
        News       Search      Library


</pre>


</div>



<div class="box">


<h2>
Explore Areas
</h2>


<ul>

<li>
<a href="/bbs">
CyberNet BBS
</a>
</li>


<li>
<a href="/irc">
CyberNet IRC
</a>
</li>


<li>
<a href="/mall">
CyberMall
</a>
</li>


<li>
<a href="/news">
NetNews 97
</a>
</li>


<li>
<a href="/search">
CyberSearch
</a>
</li>


</ul>


</div>



<center>

<a href="/">
Back Home

</a>

</center>


</div>

</body>

</html>